<h1>Stupid Coaching</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<div class="common user">
 <%= @question %>
 </div>

<div class="common coach">
 <%= @answer %>
 </div>
 <br>

 <%= link_to "Question page", "/ask" %>
